@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header{
     margin: 0 19rem 0 10rem;
     font-family: 'Montserrat', sans-serif;
     font-weight: 600;
     font-size: 1.6rem;

     color: #202020;
     ;

     display: flex;
     justify-content: space-between;
     align-items: baseline;
}

header img{
     margin-top: 1.016rem;
}

header ul{
     display: flex;
     gap: 1.3rem;
     
}

.menu ul{
     position: relative;
}